<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>Documento sin título</title>
<link href="css/estilos_go.css" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="css/demo.css" type="text/css" media="screen" />
<link rel="stylesheet" href="css/flexslider.css" type="text/css" media="screen" />
</head>

<body>
<div id="contenedor">
  <div id="wrapper">
    <div id="header"> <a href="#"><img src="image/logo.jpg"></a>
      <form action="" method="get">
        <div class="search">
          <input name="" type="text" value="¿Qué estás buscando?">
          <span> <img src="image/icp_lupa.png"> </span></div>
      </form>
      <h1 class="t-centro">Cátalogo de productos</h1>
    </div>
    <div id="contenido"> 
      <!--Inicio carrusel FARMACIAS-->
      <div class="carrusel">
        <section class="slider">
          <div class="ico">
            <h2>Farmacias</h2>
          </div>
          <div class="flexslider carousel">
            <ul class="slides">
              <li class="bg-col"> <img src="image/farmacia01.jpg" />
                <p class="flex-caption">
                
                <table width="100%" border="0" cellpadding="2" cellspacing="2">
                  <tr>
                    <td style="color:#395066; font-size:17px; padding:8px; font-weight: bold;">Nombre farmacia</td>
                  </tr>
                  <table width="20" border="0" cellpadding="20" cellspacing="20">
                    <tr>
                      <td  style="color:#395066; font-size:15px; padding:8px;">Categoría:</td>
                      <td style="font-style:italic;">Farmacias</td>
                    </tr>
                  </table>
                  <tr>
                    <td style="padding:10px;"><img  class="resize" src="image/estrellas_demo.png"></td>
                  </tr>
                </table>
                <input class="btn-detalle" name="" type="button" value="ver detalle">
              </li>
              <li class="bg-col"> <img src="image/farmacia01.jpg" />
                <p class="flex-caption">
                
                <table width="100%" border="0" cellpadding="2" cellspacing="2">
                  <tr>
                    <td style="color:#395066; font-size:17px; padding:8px; font-weight: bold;">Nombre farmacia</td>
                  </tr>
                  <table width="20" border="0" cellpadding="20" cellspacing="20">
                    <tr>
                      <td  style="color:#395066; font-size:15px; padding:8px;">Categoría:</td>
                      <td style="font-style:italic;">Farmacias</td>
                    </tr>
                  </table>
                  <tr>
                    <td style="padding:10px;"><img  class="resize" src="image/estrellas_demo.png"></td>
                  </tr>
                </table>
                <input class="btn-detalle" name="" type="button" value="ver detalle">
              </li>
              <li class="bg-col"> <img src="image/farmacia01.jpg" />
                <p class="flex-caption">
                
                <table width="100%" border="0" cellpadding="2" cellspacing="2">
                  <tr>
                    <td style="color:#395066; font-size:17px; padding:8px; font-weight: bold;">Nombre farmacia</td>
                  </tr>
                  <table width="20" border="0" cellpadding="20" cellspacing="20">
                    <tr>
                      <td  style="color:#395066; font-size:15px; padding:8px;">Categoría:</td>
                      <td style="font-style:italic;">Farmacias</td>
                    </tr>
                  </table>
                  <tr>
                    <td style="padding:10px;"><img  class="resize" src="image/estrellas_demo.png"></td>
                  </tr>
                </table>
                <input class="btn-detalle" name="" type="button" value="ver detalle">
              </li>
              <li class="bg-col"> <img src="image/farmacia01.jpg" />
                <p class="flex-caption">
                
                <table width="100%" border="0" cellpadding="2" cellspacing="2">
                  <tr>
                    <td style="color:#395066; font-size:17px; padding:8px; font-weight: bold;">Nombre farmacia</td>
                  </tr>
                  <table width="20" border="0" cellpadding="20" cellspacing="20">
                    <tr>
                      <td  style="color:#395066; font-size:15px; padding:8px;">Categoría:</td>
                      <td style="font-style:italic;">Farmacias</td>
                    </tr>
                  </table>
                  <tr>
                    <td style="padding:10px;"><img  class="resize" src="image/estrellas_demo.png"></td>
                  </tr>
                </table>
                <input class="btn-detalle" name="" type="button" value="ver detalle">
              </li>
              <li class="bg-col"> <img src="image/farmacia01.jpg" />
                <p class="flex-caption">
                
                <table width="100%" border="0" cellpadding="2" cellspacing="2">
                  <tr>
                    <td style="color:#395066; font-size:17px; padding:8px; font-weight: bold;">Nombre farmacia</td>
                  </tr>
                  <table width="20" border="0" cellpadding="20" cellspacing="20">
                    <tr>
                      <td  style="color:#395066; font-size:15px; padding:8px;">Categoría:</td>
                      <td style="font-style:italic;">Farmacias</td>
                    </tr>
                  </table>
                  <tr>
                    <td style="padding:10px;"><img  class="resize" src="image/estrellas_demo.png"></td>
                  </tr>
                </table>
                <input class="btn-detalle" name="" type="button" value="ver detalle">
              </li>
              <li class="bg-col"> <img src="image/farmacia01.jpg" />
                <p class="flex-caption">
                
                <table width="100%" border="0" cellpadding="2" cellspacing="2">
                  <tr>
                    <td style="color:#395066; font-size:17px; padding:8px; font-weight: bold;">Nombre farmacia</td>
                  </tr>
                  <table width="20" border="0" cellpadding="20" cellspacing="20">
                    <tr>
                      <td  style="color:#395066; font-size:15px; padding:8px;">Categoría:</td>
                      <td style="font-style:italic;">Farmacias</td>
                    </tr>
                  </table>
                  <tr>
                    <td style="padding:10px;"><img  class="resize" src="image/estrellas_demo.png"></td>
                  </tr>
                </table>
                <input class="btn-detalle" name="" type="button" value="ver detalle">
              </li>
              <li class="bg-col"> <img src="image/farmacia01.jpg" />
                <p class="flex-caption">
                
                <table width="100%" border="0" cellpadding="2" cellspacing="2">
                  <tr>
                    <td style="color:#395066; font-size:17px; padding:8px; font-weight: bold;">Nombre farmacia</td>
                  </tr>
                  <table width="20" border="0" cellpadding="20" cellspacing="20">
                    <tr>
                      <td  style="color:#395066; font-size:15px; padding:8px;">Categoría:</td>
                      <td style="font-style:italic;">Farmacias</td>
                    </tr>
                  </table>
                  <tr>
                    <td style="padding:10px;"><img  class="resize" src="image/estrellas_demo.png"></td>
                  </tr>
                </table>
                <input class="btn-detalle" name="" type="button" value="ver detalle">
              </li>
              <li class="bg-col"> <img src="image/farmacia01.jpg" />
                <p class="flex-caption">
                
                <table width="100%" border="0" cellpadding="2" cellspacing="2">
                  <tr>
                    <td style="color:#395066; font-size:17px; padding:8px; font-weight: bold;">Nombre farmacia</td>
                  </tr>
                  <table width="20" border="0" cellpadding="20" cellspacing="20">
                    <tr>
                      <td  style="color:#395066; font-size:15px; padding:8px;">Categoría:</td>
                      <td style="font-style:italic;">Farmacias</td>
                    </tr>
                  </table>
                  <tr>
                    <td style="padding:10px;"><img  class="resize" src="image/estrellas_demo.png"></td>
                  </tr>
                </table>
                <input class="btn-detalle" name="" type="button" value="ver detalle">
              </li>
              <li class="bg-col"> <img src="image/farmacia01.jpg" />
                <p class="flex-caption">
                
                <table width="100%" border="0" cellpadding="2" cellspacing="2">
                  <tr>
                    <td style="color:#395066; font-size:17px; padding:8px; font-weight: bold;">Nombre farmacia</td>
                  </tr>
                  <table width="20" border="0" cellpadding="20" cellspacing="20">
                    <tr>
                      <td  style="color:#395066; font-size:15px; padding:8px;">Categoría:</td>
                      <td style="font-style:italic;">Farmacias</td>
                    </tr>
                  </table>
                  <tr>
                    <td style="padding:10px;"><img  class="resize" src="image/estrellas_demo.png"></td>
                  </tr>
                </table>
                <input class="btn-detalle" name="" type="button" value="ver detalle">
              </li>
              <li class="bg-col"> <img src="image/farmacia01.jpg" />
                <p class="flex-caption">
                
                <table width="100%" border="0" cellpadding="2" cellspacing="2">
                  <tr>
                    <td style="color:#395066; font-size:17px; padding:8px; font-weight: bold;">Nombre farmacia</td>
                  </tr>
                  <table width="20" border="0" cellpadding="20" cellspacing="20">
                    <tr>
                      <td  style="color:#395066; font-size:15px; padding:8px;">Categoría:</td>
                      <td style="font-style:italic;">Farmacias</td>
                    </tr>
                  </table>
                  <tr>
                    <td style="padding:10px;"><img  class="resize" src="image/estrellas_demo.png"></td>
                  </tr>
                </table>
                <input class="btn-detalle" name="" type="button" value="ver detalle">
              </li>
              <li class="bg-col"> <img src="image/farmacia01.jpg" />
                <p class="flex-caption">
                
                <table width="100%" border="0" cellpadding="2" cellspacing="2">
                  <tr>
                    <td style="color:#395066; font-size:17px; padding:8px; font-weight: bold;">Nombre farmacia</td>
                  </tr>
                  <table width="20" border="0" cellpadding="20" cellspacing="20">
                    <tr>
                      <td  style="color:#395066; font-size:15px; padding:8px;">Categoría:</td>
                      <td style="font-style:italic;">Farmacias</td>
                    </tr>
                  </table>
                  <tr>
                    <td style="padding:10px;"><img  class="resize" src="image/estrellas_demo.png"></td>
                  </tr>
                </table>
                <input class="btn-detalle" name="" type="button" value="ver detalle">
              </li>
              <li class="bg-col"> <img src="image/farmacia01.jpg" />
                <p class="flex-caption">
                
                <table width="100%" border="0" cellpadding="2" cellspacing="2">
                  <tr>
                    <td style="color:#395066; font-size:17px; padding:8px; font-weight: bold;">Nombre farmacia</td>
                  </tr>
                  <table width="20" border="0" cellpadding="20" cellspacing="20">
                    <tr>
                      <td  style="color:#395066; font-size:15px; padding:8px;">Categoría:</td>
                      <td style="font-style:italic;">Farmacias</td>
                    </tr>
                  </table>
                  <tr>
                    <td style="padding:10px;"><img  class="resize" src="image/estrellas_demo.png"></td>
                  </tr>
                </table>
                <input class="btn-detalle" name="" type="button" value="ver detalle">
              </li>
            </ul>
          </div>
        </section>
      </div>
      <!--Fin carrusel---> 
      <!--Inicio carrusel LABORATORIOS CLÍNICOS-->
      <div class="carrusel">
        <section class="slider">
          <div class="ico-lab">
            <h2>Laboratorios clínicos</h2>
          </div>
          <div class="flexslider carousel">
            <ul class="slides">
              <li class="bg-col"> <img src="image/farmacia01.jpg" />
                <p class="flex-caption">
                
                <table width="100%" border="0" cellpadding="2" cellspacing="2">
                  <tr>
                    <td style="color:#395066; font-size:17px; padding:8px; font-weight: bold;">Nombre farmacia</td>
                  </tr>
                  <table width="20" border="0" cellpadding="20" cellspacing="20">
                    <tr>
                      <td  style="color:#395066; font-size:15px; padding:8px;">Categoría:</td>
                      <td style="font-style:italic;">Farmacias</td>
                    </tr>
                  </table>
                  <tr>
                    <td style="padding:10px;"><img  class="resize" src="image/estrellas_demo.png"></td>
                  </tr>
                </table>
                <input class="btn-detalle" name="" type="button" value="ver detalle">
              </li>
              <li class="bg-col"> <img src="image/farmacia01.jpg" />
                <p class="flex-caption">
                
                <table width="100%" border="0" cellpadding="2" cellspacing="2">
                  <tr>
                    <td style="color:#395066; font-size:17px; padding:8px; font-weight: bold;">Nombre farmacia</td>
                  </tr>
                  <table width="20" border="0" cellpadding="20" cellspacing="20">
                    <tr>
                      <td  style="color:#395066; font-size:15px; padding:8px;">Categoría:</td>
                      <td style="font-style:italic;">Farmacias</td>
                    </tr>
                  </table>
                  <tr>
                    <td style="padding:10px;"><img  class="resize" src="image/estrellas_demo.png"></td>
                  </tr>
                </table>
                <input class="btn-detalle" name="" type="button" value="ver detalle">
              </li>
              <li class="bg-col"> <img src="image/farmacia01.jpg" />
                <p class="flex-caption">
                
                <table width="100%" border="0" cellpadding="2" cellspacing="2">
                  <tr>
                    <td style="color:#395066; font-size:17px; padding:8px; font-weight: bold;">Nombre farmacia</td>
                  </tr>
                  <table width="20" border="0" cellpadding="20" cellspacing="20">
                    <tr>
                      <td  style="color:#395066; font-size:15px; padding:8px;">Categoría:</td>
                      <td style="font-style:italic;">Farmacias</td>
                    </tr>
                  </table>
                  <tr>
                    <td style="padding:10px;"><img  class="resize" src="image/estrellas_demo.png"></td>
                  </tr>
                </table>
                <input class="btn-detalle" name="" type="button" value="ver detalle">
              </li>
              <li class="bg-col"> <img src="image/farmacia01.jpg" />
                <p class="flex-caption">
                
                <table width="100%" border="0" cellpadding="2" cellspacing="2">
                  <tr>
                    <td style="color:#395066; font-size:17px; padding:8px; font-weight: bold;">Nombre farmacia</td>
                  </tr>
                  <table width="20" border="0" cellpadding="20" cellspacing="20">
                    <tr>
                      <td  style="color:#395066; font-size:15px; padding:8px;">Categoría:</td>
                      <td style="font-style:italic;">Farmacias</td>
                    </tr>
                  </table>
                  <tr>
                    <td style="padding:10px;"><img  class="resize" src="image/estrellas_demo.png"></td>
                  </tr>
                </table>
                <input class="btn-detalle" name="" type="button" value="ver detalle">
              </li>
              <li class="bg-col"> <img src="image/farmacia01.jpg" />
                <p class="flex-caption">
                
                <table width="100%" border="0" cellpadding="2" cellspacing="2">
                  <tr>
                    <td style="color:#395066; font-size:17px; padding:8px; font-weight: bold;">Nombre farmacia</td>
                  </tr>
                  <table width="20" border="0" cellpadding="20" cellspacing="20">
                    <tr>
                      <td  style="color:#395066; font-size:15px; padding:8px;">Categoría:</td>
                      <td style="font-style:italic;">Farmacias</td>
                    </tr>
                  </table>
                  <tr>
                    <td style="padding:10px;"><img  class="resize" src="image/estrellas_demo.png"></td>
                  </tr>
                </table>
                <input class="btn-detalle" name="" type="button" value="ver detalle">
              </li>
              <li class="bg-col"> <img src="image/farmacia01.jpg" />
                <p class="flex-caption">
                
                <table width="100%" border="0" cellpadding="2" cellspacing="2">
                  <tr>
                    <td style="color:#395066; font-size:17px; padding:8px; font-weight: bold;">Nombre farmacia</td>
                  </tr>
                  <table width="20" border="0" cellpadding="20" cellspacing="20">
                    <tr>
                      <td  style="color:#395066; font-size:15px; padding:8px;">Categoría:</td>
                      <td style="font-style:italic;">Farmacias</td>
                    </tr>
                  </table>
                  <tr>
                    <td style="padding:10px;"><img  class="resize" src="image/estrellas_demo.png"></td>
                  </tr>
                </table>
                <input class="btn-detalle" name="" type="button" value="ver detalle">
              </li>
              <li class="bg-col"> <img src="image/farmacia01.jpg" />
                <p class="flex-caption">
                
                <table width="100%" border="0" cellpadding="2" cellspacing="2">
                  <tr>
                    <td style="color:#395066; font-size:17px; padding:8px; font-weight: bold;">Nombre farmacia</td>
                  </tr>
                  <table width="20" border="0" cellpadding="20" cellspacing="20">
                    <tr>
                      <td  style="color:#395066; font-size:15px; padding:8px;">Categoría:</td>
                      <td style="font-style:italic;">Farmacias</td>
                    </tr>
                  </table>
                  <tr>
                    <td style="padding:10px;"><img  class="resize" src="image/estrellas_demo.png"></td>
                  </tr>
                </table>
                <input class="btn-detalle" name="" type="button" value="ver detalle">
              </li>
              <li class="bg-col"> <img src="image/farmacia01.jpg" />
                <p class="flex-caption">
                
                <table width="100%" border="0" cellpadding="2" cellspacing="2">
                  <tr>
                    <td style="color:#395066; font-size:17px; padding:8px; font-weight: bold;">Nombre farmacia</td>
                  </tr>
                  <table width="20" border="0" cellpadding="20" cellspacing="20">
                    <tr>
                      <td  style="color:#395066; font-size:15px; padding:8px;">Categoría:</td>
                      <td style="font-style:italic;">Farmacias</td>
                    </tr>
                  </table>
                  <tr>
                    <td style="padding:10px;"><img  class="resize" src="image/estrellas_demo.png"></td>
                  </tr>
                </table>
                <input class="btn-detalle" name="" type="button" value="ver detalle">
              </li>
              <li class="bg-col"> <img src="image/farmacia01.jpg" />
                <p class="flex-caption">
                
                <table width="100%" border="0" cellpadding="2" cellspacing="2">
                  <tr>
                    <td style="color:#395066; font-size:17px; padding:8px; font-weight: bold;">Nombre farmacia</td>
                  </tr>
                  <table width="20" border="0" cellpadding="20" cellspacing="20">
                    <tr>
                      <td  style="color:#395066; font-size:15px; padding:8px;">Categoría:</td>
                      <td style="font-style:italic;">Farmacias</td>
                    </tr>
                  </table>
                  <tr>
                    <td style="padding:10px;"><img  class="resize" src="image/estrellas_demo.png"></td>
                  </tr>
                </table>
                <input class="btn-detalle" name="" type="button" value="ver detalle">
              </li>
              <li class="bg-col"> <img src="image/farmacia01.jpg" />
                <p class="flex-caption">
                
                <table width="100%" border="0" cellpadding="2" cellspacing="2">
                  <tr>
                    <td style="color:#395066; font-size:17px; padding:8px; font-weight: bold;">Nombre farmacia</td>
                  </tr>
                  <table width="20" border="0" cellpadding="20" cellspacing="20">
                    <tr>
                      <td  style="color:#395066; font-size:15px; padding:8px;">Categoría:</td>
                      <td style="font-style:italic;">Farmacias</td>
                    </tr>
                  </table>
                  <tr>
                    <td style="padding:10px;"><img  class="resize" src="image/estrellas_demo.png"></td>
                  </tr>
                </table>
                <input class="btn-detalle" name="" type="button" value="ver detalle">
              </li>
              <li class="bg-col"> <img src="image/farmacia01.jpg" />
                <p class="flex-caption">
                
                <table width="100%" border="0" cellpadding="2" cellspacing="2">
                  <tr>
                    <td style="color:#395066; font-size:17px; padding:8px; font-weight: bold;">Nombre farmacia</td>
                  </tr>
                  <table width="20" border="0" cellpadding="20" cellspacing="20">
                    <tr>
                      <td  style="color:#395066; font-size:15px; padding:8px;">Categoría:</td>
                      <td style="font-style:italic;">Farmacias</td>
                    </tr>
                  </table>
                  <tr>
                    <td style="padding:10px;"><img  class="resize" src="image/estrellas_demo.png"></td>
                  </tr>
                </table>
                <input class="btn-detalle" name="" type="button" value="ver detalle">
              </li>
              <li class="bg-col"> <img src="image/farmacia01.jpg" />
                <p class="flex-caption">
                
                <table width="100%" border="0" cellpadding="2" cellspacing="2">
                  <tr>
                    <td style="color:#395066; font-size:17px; padding:8px; font-weight: bold;">Nombre farmacia</td>
                  </tr>
                  <table width="20" border="0" cellpadding="20" cellspacing="20">
                    <tr>
                      <td  style="color:#395066; font-size:15px; padding:8px;">Categoría:</td>
                      <td style="font-style:italic;">Farmacias</td>
                    </tr>
                  </table>
                  <tr>
                    <td style="padding:10px;"><img  class="resize" src="image/estrellas_demo.png"></td>
                  </tr>
                </table>
                <input class="btn-detalle" name="" type="button" value="ver detalle">
              </li>
            </ul>
          </div>
        </section>
      </div>
      <!--Fin carrusel---> 
       <!--Inicio carrusel CONSULTORIOS DENTALES-->
      <div class="carrusel">
        <section class="slider">
          <div class="ico-dental">
            <h2>Consultorios dentales</h2>
          </div>
          <div class="flexslider carousel">
            <ul class="slides">
              <li class="bg-col"> <img src="image/farmacia01.jpg" />
                <p class="flex-caption">
                
                <table width="100%" border="0" cellpadding="2" cellspacing="2">
                  <tr>
                    <td style="color:#395066; font-size:17px; padding:8px; font-weight: bold;">Nombre farmacia</td>
                  </tr>
                  <table width="20" border="0" cellpadding="20" cellspacing="20">
                    <tr>
                      <td  style="color:#395066; font-size:15px; padding:8px;">Categoría:</td>
                      <td style="font-style:italic;">Farmacias</td>
                    </tr>
                  </table>
                  <tr>
                    <td style="padding:10px;"><img  class="resize" src="image/estrellas_demo.png"></td>
                  </tr>
                </table>
                <input class="btn-detalle" name="" type="button" value="ver detalle">
              </li>
              <li class="bg-col"> <img src="image/farmacia01.jpg" />
                <p class="flex-caption">
                
                <table width="100%" border="0" cellpadding="2" cellspacing="2">
                  <tr>
                    <td style="color:#395066; font-size:17px; padding:8px; font-weight: bold;">Nombre farmacia</td>
                  </tr>
                  <table width="20" border="0" cellpadding="20" cellspacing="20">
                    <tr>
                      <td  style="color:#395066; font-size:15px; padding:8px;">Categoría:</td>
                      <td style="font-style:italic;">Farmacias</td>
                    </tr>
                  </table>
                  <tr>
                    <td style="padding:10px;"><img  class="resize" src="image/estrellas_demo.png"></td>
                  </tr>
                </table>
                <input class="btn-detalle" name="" type="button" value="ver detalle">
              </li>
              <li class="bg-col"> <img src="image/farmacia01.jpg" />
                <p class="flex-caption">
                
                <table width="100%" border="0" cellpadding="2" cellspacing="2">
                  <tr>
                    <td style="color:#395066; font-size:17px; padding:8px; font-weight: bold;">Nombre farmacia</td>
                  </tr>
                  <table width="20" border="0" cellpadding="20" cellspacing="20">
                    <tr>
                      <td  style="color:#395066; font-size:15px; padding:8px;">Categoría:</td>
                      <td style="font-style:italic;">Farmacias</td>
                    </tr>
                  </table>
                  <tr>
                    <td style="padding:10px;"><img  class="resize" src="image/estrellas_demo.png"></td>
                  </tr>
                </table>
                <input class="btn-detalle" name="" type="button" value="ver detalle">
              </li>
              <li class="bg-col"> <img src="image/farmacia01.jpg" />
                <p class="flex-caption">
                
                <table width="100%" border="0" cellpadding="2" cellspacing="2">
                  <tr>
                    <td style="color:#395066; font-size:17px; padding:8px; font-weight: bold;">Nombre farmacia</td>
                  </tr>
                  <table width="20" border="0" cellpadding="20" cellspacing="20">
                    <tr>
                      <td  style="color:#395066; font-size:15px; padding:8px;">Categoría:</td>
                      <td style="font-style:italic;">Farmacias</td>
                    </tr>
                  </table>
                  <tr>
                    <td style="padding:10px;"><img  class="resize" src="image/estrellas_demo.png"></td>
                  </tr>
                </table>
                <input class="btn-detalle" name="" type="button" value="ver detalle">
              </li>
              <li class="bg-col"> <img src="image/farmacia01.jpg" />
                <p class="flex-caption">
                
                <table width="100%" border="0" cellpadding="2" cellspacing="2">
                  <tr>
                    <td style="color:#395066; font-size:17px; padding:8px; font-weight: bold;">Nombre farmacia</td>
                  </tr>
                  <table width="20" border="0" cellpadding="20" cellspacing="20">
                    <tr>
                      <td  style="color:#395066; font-size:15px; padding:8px;">Categoría:</td>
                      <td style="font-style:italic;">Farmacias</td>
                    </tr>
                  </table>
                  <tr>
                    <td style="padding:10px;"><img  class="resize" src="image/estrellas_demo.png"></td>
                  </tr>
                </table>
                <input class="btn-detalle" name="" type="button" value="ver detalle">
              </li>
              <li class="bg-col"> <img src="image/farmacia01.jpg" />
                <p class="flex-caption">
                
                <table width="100%" border="0" cellpadding="2" cellspacing="2">
                  <tr>
                    <td style="color:#395066; font-size:17px; padding:8px; font-weight: bold;">Nombre farmacia</td>
                  </tr>
                  <table width="20" border="0" cellpadding="20" cellspacing="20">
                    <tr>
                      <td  style="color:#395066; font-size:15px; padding:8px;">Categoría:</td>
                      <td style="font-style:italic;">Farmacias</td>
                    </tr>
                  </table>
                  <tr>
                    <td style="padding:10px;"><img  class="resize" src="image/estrellas_demo.png"></td>
                  </tr>
                </table>
                <input class="btn-detalle" name="" type="button" value="ver detalle">
              </li>
              <li class="bg-col"> <img src="image/farmacia01.jpg" />
                <p class="flex-caption">
                
                <table width="100%" border="0" cellpadding="2" cellspacing="2">
                  <tr>
                    <td style="color:#395066; font-size:17px; padding:8px; font-weight: bold;">Nombre farmacia</td>
                  </tr>
                  <table width="20" border="0" cellpadding="20" cellspacing="20">
                    <tr>
                      <td  style="color:#395066; font-size:15px; padding:8px;">Categoría:</td>
                      <td style="font-style:italic;">Farmacias</td>
                    </tr>
                  </table>
                  <tr>
                    <td style="padding:10px;"><img  class="resize" src="image/estrellas_demo.png"></td>
                  </tr>
                </table>
                <input class="btn-detalle" name="" type="button" value="ver detalle">
              </li>
              <li class="bg-col"> <img src="image/farmacia01.jpg" />
                <p class="flex-caption">
                
                <table width="100%" border="0" cellpadding="2" cellspacing="2">
                  <tr>
                    <td style="color:#395066; font-size:17px; padding:8px; font-weight: bold;">Nombre farmacia</td>
                  </tr>
                  <table width="20" border="0" cellpadding="20" cellspacing="20">
                    <tr>
                      <td  style="color:#395066; font-size:15px; padding:8px;">Categoría:</td>
                      <td style="font-style:italic;">Farmacias</td>
                    </tr>
                  </table>
                  <tr>
                    <td style="padding:10px;"><img  class="resize" src="image/estrellas_demo.png"></td>
                  </tr>
                </table>
                <input class="btn-detalle" name="" type="button" value="ver detalle">
              </li>
              <li class="bg-col"> <img src="image/farmacia01.jpg" />
                <p class="flex-caption">
                
                <table width="100%" border="0" cellpadding="2" cellspacing="2">
                  <tr>
                    <td style="color:#395066; font-size:17px; padding:8px; font-weight: bold;">Nombre farmacia</td>
                  </tr>
                  <table width="20" border="0" cellpadding="20" cellspacing="20">
                    <tr>
                      <td  style="color:#395066; font-size:15px; padding:8px;">Categoría:</td>
                      <td style="font-style:italic;">Farmacias</td>
                    </tr>
                  </table>
                  <tr>
                    <td style="padding:10px;"><img  class="resize" src="image/estrellas_demo.png"></td>
                  </tr>
                </table>
                <input class="btn-detalle" name="" type="button" value="ver detalle">
              </li>
              <li class="bg-col"> <img src="image/farmacia01.jpg" />
                <p class="flex-caption">
                
                <table width="100%" border="0" cellpadding="2" cellspacing="2">
                  <tr>
                    <td style="color:#395066; font-size:17px; padding:8px; font-weight: bold;">Nombre farmacia</td>
                  </tr>
                  <table width="20" border="0" cellpadding="20" cellspacing="20">
                    <tr>
                      <td  style="color:#395066; font-size:15px; padding:8px;">Categoría:</td>
                      <td style="font-style:italic;">Farmacias</td>
                    </tr>
                  </table>
                  <tr>
                    <td style="padding:10px;"><img  class="resize" src="image/estrellas_demo.png"></td>
                  </tr>
                </table>
                <input class="btn-detalle" name="" type="button" value="ver detalle">
              </li>
              <li class="bg-col"> <img src="image/farmacia01.jpg" />
                <p class="flex-caption">
                
                <table width="100%" border="0" cellpadding="2" cellspacing="2">
                  <tr>
                    <td style="color:#395066; font-size:17px; padding:8px; font-weight: bold;">Nombre farmacia</td>
                  </tr>
                  <table width="20" border="0" cellpadding="20" cellspacing="20">
                    <tr>
                      <td  style="color:#395066; font-size:15px; padding:8px;">Categoría:</td>
                      <td style="font-style:italic;">Farmacias</td>
                    </tr>
                  </table>
                  <tr>
                    <td style="padding:10px;"><img  class="resize" src="image/estrellas_demo.png"></td>
                  </tr>
                </table>
                <input class="btn-detalle" name="" type="button" value="ver detalle">
              </li>
              <li class="bg-col"> <img src="image/farmacia01.jpg" />
                <p class="flex-caption">
                
                <table width="100%" border="0" cellpadding="2" cellspacing="2">
                  <tr>
                    <td style="color:#395066; font-size:17px; padding:8px; font-weight: bold;">Nombre farmacia</td>
                  </tr>
                  <table width="20" border="0" cellpadding="20" cellspacing="20">
                    <tr>
                      <td  style="color:#395066; font-size:15px; padding:8px;">Categoría:</td>
                      <td style="font-style:italic;">Farmacias</td>
                    </tr>
                  </table>
                  <tr>
                    <td style="padding:10px;"><img  class="resize" src="image/estrellas_demo.png"></td>
                  </tr>
                </table>
                <input class="btn-detalle" name="" type="button" value="ver detalle">
              </li>
            </ul>
          </div>
        </section>
      </div>
      <!--Fin carrusel---> 
       <!--Inicio carrusel CONSULTORIO DE MEDICOS ESPECIALISTAS-->
      <div class="carrusel">
        <section class="slider">
          <div class="ico-medicos">
            <h2>Consultorio de médicos especialistas</h2>
          </div>
          <div class="flexslider carousel">
            <ul class="slides">
              <li class="bg-col"> <img src="image/farmacia01.jpg" />
                <p class="flex-caption">
                
                <table width="100%" border="0" cellpadding="2" cellspacing="2">
                  <tr>
                    <td style="color:#395066; font-size:17px; padding:8px; font-weight: bold;">Nombre farmacia</td>
                  </tr>
                  <table width="20" border="0" cellpadding="20" cellspacing="20">
                    <tr>
                      <td  style="color:#395066; font-size:15px; padding:8px;">Categoría:</td>
                      <td style="font-style:italic;">Farmacias</td>
                    </tr>
                  </table>
                  <tr>
                    <td style="padding:10px;"><img  class="resize" src="image/estrellas_demo.png"></td>
                  </tr>
                </table>
                <input class="btn-detalle" name="" type="button" value="ver detalle">
              </li>
              <li class="bg-col"> <img src="image/farmacia01.jpg" />
                <p class="flex-caption">
                
                <table width="100%" border="0" cellpadding="2" cellspacing="2">
                  <tr>
                    <td style="color:#395066; font-size:17px; padding:8px; font-weight: bold;">Nombre farmacia</td>
                  </tr>
                  <table width="20" border="0" cellpadding="20" cellspacing="20">
                    <tr>
                      <td  style="color:#395066; font-size:15px; padding:8px;">Categoría:</td>
                      <td style="font-style:italic;">Farmacias</td>
                    </tr>
                  </table>
                  <tr>
                    <td style="padding:10px;"><img  class="resize" src="image/estrellas_demo.png"></td>
                  </tr>
                </table>
                <input class="btn-detalle" name="" type="button" value="ver detalle">
              </li>
              <li class="bg-col"> <img src="image/farmacia01.jpg" />
                <p class="flex-caption">
                
                <table width="100%" border="0" cellpadding="2" cellspacing="2">
                  <tr>
                    <td style="color:#395066; font-size:17px; padding:8px; font-weight: bold;">Nombre farmacia</td>
                  </tr>
                  <table width="20" border="0" cellpadding="20" cellspacing="20">
                    <tr>
                      <td  style="color:#395066; font-size:15px; padding:8px;">Categoría:</td>
                      <td style="font-style:italic;">Farmacias</td>
                    </tr>
                  </table>
                  <tr>
                    <td style="padding:10px;"><img  class="resize" src="image/estrellas_demo.png"></td>
                  </tr>
                </table>
                <input class="btn-detalle" name="" type="button" value="ver detalle">
              </li>
              <li class="bg-col"> <img src="image/farmacia01.jpg" />
                <p class="flex-caption">
                
                <table width="100%" border="0" cellpadding="2" cellspacing="2">
                  <tr>
                    <td style="color:#395066; font-size:17px; padding:8px; font-weight: bold;">Nombre farmacia</td>
                  </tr>
                  <table width="20" border="0" cellpadding="20" cellspacing="20">
                    <tr>
                      <td  style="color:#395066; font-size:15px; padding:8px;">Categoría:</td>
                      <td style="font-style:italic;">Farmacias</td>
                    </tr>
                  </table>
                  <tr>
                    <td style="padding:10px;"><img  class="resize" src="image/estrellas_demo.png"></td>
                  </tr>
                </table>
                <input class="btn-detalle" name="" type="button" value="ver detalle">
              </li>
              <li class="bg-col"> <img src="image/farmacia01.jpg" />
                <p class="flex-caption">
                
                <table width="100%" border="0" cellpadding="2" cellspacing="2">
                  <tr>
                    <td style="color:#395066; font-size:17px; padding:8px; font-weight: bold;">Nombre farmacia</td>
                  </tr>
                  <table width="20" border="0" cellpadding="20" cellspacing="20">
                    <tr>
                      <td  style="color:#395066; font-size:15px; padding:8px;">Categoría:</td>
                      <td style="font-style:italic;">Farmacias</td>
                    </tr>
                  </table>
                  <tr>
                    <td style="padding:10px;"><img  class="resize" src="image/estrellas_demo.png"></td>
                  </tr>
                </table>
                <input class="btn-detalle" name="" type="button" value="ver detalle">
              </li>
              <li class="bg-col"> <img src="image/farmacia01.jpg" />
                <p class="flex-caption">
                
                <table width="100%" border="0" cellpadding="2" cellspacing="2">
                  <tr>
                    <td style="color:#395066; font-size:17px; padding:8px; font-weight: bold;">Nombre farmacia</td>
                  </tr>
                  <table width="20" border="0" cellpadding="20" cellspacing="20">
                    <tr>
                      <td  style="color:#395066; font-size:15px; padding:8px;">Categoría:</td>
                      <td style="font-style:italic;">Farmacias</td>
                    </tr>
                  </table>
                  <tr>
                    <td style="padding:10px;"><img  class="resize" src="image/estrellas_demo.png"></td>
                  </tr>
                </table>
                <input class="btn-detalle" name="" type="button" value="ver detalle">
              </li>
              <li class="bg-col"> <img src="image/farmacia01.jpg" />
                <p class="flex-caption">
                
                <table width="100%" border="0" cellpadding="2" cellspacing="2">
                  <tr>
                    <td style="color:#395066; font-size:17px; padding:8px; font-weight: bold;">Nombre farmacia</td>
                  </tr>
                  <table width="20" border="0" cellpadding="20" cellspacing="20">
                    <tr>
                      <td  style="color:#395066; font-size:15px; padding:8px;">Categoría:</td>
                      <td style="font-style:italic;">Farmacias</td>
                    </tr>
                  </table>
                  <tr>
                    <td style="padding:10px;"><img  class="resize" src="image/estrellas_demo.png"></td>
                  </tr>
                </table>
                <input class="btn-detalle" name="" type="button" value="ver detalle">
              </li>
              <li class="bg-col"> <img src="image/farmacia01.jpg" />
                <p class="flex-caption">
                
                <table width="100%" border="0" cellpadding="2" cellspacing="2">
                  <tr>
                    <td style="color:#395066; font-size:17px; padding:8px; font-weight: bold;">Nombre farmacia</td>
                  </tr>
                  <table width="20" border="0" cellpadding="20" cellspacing="20">
                    <tr>
                      <td  style="color:#395066; font-size:15px; padding:8px;">Categoría:</td>
                      <td style="font-style:italic;">Farmacias</td>
                    </tr>
                  </table>
                  <tr>
                    <td style="padding:10px;"><img  class="resize" src="image/estrellas_demo.png"></td>
                  </tr>
                </table>
                <input class="btn-detalle" name="" type="button" value="ver detalle">
              </li>
              <li class="bg-col"> <img src="image/farmacia01.jpg" />
                <p class="flex-caption">
                
                <table width="100%" border="0" cellpadding="2" cellspacing="2">
                  <tr>
                    <td style="color:#395066; font-size:17px; padding:8px; font-weight: bold;">Nombre farmacia</td>
                  </tr>
                  <table width="20" border="0" cellpadding="20" cellspacing="20">
                    <tr>
                      <td  style="color:#395066; font-size:15px; padding:8px;">Categoría:</td>
                      <td style="font-style:italic;">Farmacias</td>
                    </tr>
                  </table>
                  <tr>
                    <td style="padding:10px;"><img  class="resize" src="image/estrellas_demo.png"></td>
                  </tr>
                </table>
                <input class="btn-detalle" name="" type="button" value="ver detalle">
              </li>
              <li class="bg-col"> <img src="image/farmacia01.jpg" />
                <p class="flex-caption">
                
                <table width="100%" border="0" cellpadding="2" cellspacing="2">
                  <tr>
                    <td style="color:#395066; font-size:17px; padding:8px; font-weight: bold;">Nombre farmacia</td>
                  </tr>
                  <table width="20" border="0" cellpadding="20" cellspacing="20">
                    <tr>
                      <td  style="color:#395066; font-size:15px; padding:8px;">Categoría:</td>
                      <td style="font-style:italic;">Farmacias</td>
                    </tr>
                  </table>
                  <tr>
                    <td style="padding:10px;"><img  class="resize" src="image/estrellas_demo.png"></td>
                  </tr>
                </table>
                <input class="btn-detalle" name="" type="button" value="ver detalle">
              </li>
              <li class="bg-col"> <img src="image/farmacia01.jpg" />
                <p class="flex-caption">
                
                <table width="100%" border="0" cellpadding="2" cellspacing="2">
                  <tr>
                    <td style="color:#395066; font-size:17px; padding:8px; font-weight: bold;">Nombre farmacia</td>
                  </tr>
                  <table width="20" border="0" cellpadding="20" cellspacing="20">
                    <tr>
                      <td  style="color:#395066; font-size:15px; padding:8px;">Categoría:</td>
                      <td style="font-style:italic;">Farmacias</td>
                    </tr>
                  </table>
                  <tr>
                    <td style="padding:10px;"><img  class="resize" src="image/estrellas_demo.png"></td>
                  </tr>
                </table>
                <input class="btn-detalle" name="" type="button" value="ver detalle">
              </li>
              <li class="bg-col"> <img src="image/farmacia01.jpg" />
                <p class="flex-caption">
                
                <table width="100%" border="0" cellpadding="2" cellspacing="2">
                  <tr>
                    <td style="color:#395066; font-size:17px; padding:8px; font-weight: bold;">Nombre farmacia</td>
                  </tr>
                  <table width="20" border="0" cellpadding="20" cellspacing="20">
                    <tr>
                      <td  style="color:#395066; font-size:15px; padding:8px;">Categoría:</td>
                      <td style="font-style:italic;">Farmacias</td>
                    </tr>
                  </table>
                  <tr>
                    <td style="padding:10px;"><img  class="resize" src="image/estrellas_demo.png"></td>
                  </tr>
                </table>
                <input class="btn-detalle" name="" type="button" value="ver detalle">
              </li>
            </ul>
          </div>
        </section>
      </div>
      <!--Fin carrusel---> 
    </div>
  </div>
  <div id="footer"><span class="derechos"> © Copyright 2016. Go4it| Aviso Legal | Aviso de Privacidad</span></div>
</div>
</div>
</body>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="js/libs/jquery-1.7.min.js">\x3C/script>')</script>
<!-- FlexSlider -->
<script defer src="js/jquery.flexslider.js"></script>
<script type="text/javascript">
    $(function(){
      SyntaxHighlighter.all();
    });
    $(window).load(function(){
      $('.flexslider').flexslider({
        animation: "slide",
        animationLoop: false,
        itemWidth: 210,
        itemMargin: 5,
        minItems: 2,
        maxItems: 4,
        start: function(slider){
          $('body').removeClass('loading');
        }
      });
    });
  </script>
</html>
