<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>Documento sin título</title>
<link href="css/estilos_go.css" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="css/demo.css" type="text/css" media="screen" />
<link rel="stylesheet" href="css/flexslider.css" type="text/css" media="screen" />
</head>

<body>
<div id="contenedor">
  <div id="wrapper">
    <div id="header"> <a href="#"><img src="image/logo.jpg"></a>
      <form action="" method="get">
        <div class="search">
          <input name="" type="text" value="¿Qué estás buscando?">
          <span> <img src="image/icp_lupa.png"> </span></div>
      </form>
     
    </div>
    <div id="contenido">
      <div class="carrusel">
        <div class="col-detalle">
          <div class="col-izq">
            <h2 class="nombre-detalle">Nombre</h2>
            <div class="col-img"><img src="image/img-detalle.gif"></div>
          </div>
          <div class="col-der">
            <table width="100%" border="0">
              <tr>
                <td width="23%" style="color:#395066; padding: 10px;">ID del producto:</td>
                <td  width="53%" style="color:#395066; padding: 10px; font-weight: bold;" >S60</td>
              </tr>
              <tr>
                <td style="color:#395066; padding: 10px;">Categoría:</td>
                <td style="color:#395066;padding: 10px; font-weight: bold;" >Nsectetuer adipiscing</td>
              </tr>
              <tr>
                <td style="color:#395066; padding: 10px;">Alias:</td>
                <td style="color:#395066;padding: 10px; font-style:italic;" >Nsectetuer</td>
              </tr>
              <table width="100%" cellpadding="5" cellspacing="5">
                <tr>
                  <td style="color:#395066;padding: 10px; font-weight: bold;">Características:</td>
                </tr>
                <tr>
                  <td style="padding:10px; line-height:19px;"></td>
                </tr>
                <tr>
                  <td style="color:#395066;padding-top: 28px; padding-bottom: 21px; padding-left: 10px; padding-right:5px;   font-weight: bold;">Formulario de Calificación</td></tr><tr>
                  <td style="padding-bottom:34px; padding-left: 10px"><img src="image/estrellas_demo.png" width="98" height="18"></td>
                </tr>
              </table>
              <table width="100%" border="0">
                <tr>
                  <td><label style="color:#395066; padding: 10px; font-weight:bold;">Comentarios</label></td>
                </tr>
                <tr>
                  <td><textarea name="" cols="" rows="">&nbsp;</textarea></td>
                </tr>
                <tr>
                  <td><input class="btn-guardar" name="" type="button" value="Guardar comentario"></td>
                </tr>
              </table>
            </table>
          </div>
          <div class="clear"></div>
        </div>
      </div>
      <!--Inicio carrusel PRODUCTOS RELACIONADOS-->
      <div class="carrusel">
        <section class="slider">
          <div class="ico-productos">
            <h2>Productos relacionados</h2>
          </div>
          <div class="flexslider carousel">
            <ul class="slides">
              <li class="bg-col"> <img src="image/farmacia01.jpg" />
                <p class="flex-caption">
                
                <table width="100%" border="0" cellpadding="2" cellspacing="2">
                  <tr>
                    <td style="color:#395066; font-size:17px; padding:8px; font-weight: bold;">Nombre farmacia</td>
                  </tr>
                  <table width="20" border="0" cellpadding="20" cellspacing="20">
                    <tr>
                      <td  style="color:#395066; font-size:15px; padding:8px;">Categoría:</td>
                      <td style="font-style:italic;">Farmacias</td>
                    </tr>
                  </table>
                  <tr>
                    <td style="padding:10px;"><img  class="resize" src="image/estrellas_demo.png"></td>
                  </tr>
                </table>
                <input class="btn-detalle" name="" type="button" value="ver detalle">
              </li>
              <li class="bg-col"> <img src="image/farmacia01.jpg" />
                <p class="flex-caption">
                
                <table width="100%" border="0" cellpadding="2" cellspacing="2">
                  <tr>
                    <td style="color:#395066; font-size:17px; padding:8px; font-weight: bold;">Nombre farmacia</td>
                  </tr>
                  <table width="20" border="0" cellpadding="20" cellspacing="20">
                    <tr>
                      <td  style="color:#395066; font-size:15px; padding:8px;">Categoría:</td>
                      <td style="font-style:italic;">Farmacias</td>
                    </tr>
                  </table>
                  <tr>
                    <td style="padding:10px;"><img  class="resize" src="image/estrellas_demo.png"></td>
                  </tr>
                </table>
                <input class="btn-detalle" name="" type="button" value="ver detalle">
              </li>
              <li class="bg-col"> <img src="image/farmacia01.jpg" />
                <p class="flex-caption">
                
                <table width="100%" border="0" cellpadding="2" cellspacing="2">
                  <tr>
                    <td style="color:#395066; font-size:17px; padding:8px; font-weight: bold;">Nombre farmacia</td>
                  </tr>
                  <table width="20" border="0" cellpadding="20" cellspacing="20">
                    <tr>
                      <td  style="color:#395066; font-size:15px; padding:8px;">Categoría:</td>
                      <td style="font-style:italic;">Farmacias</td>
                    </tr>
                  </table>
                  <tr>
                    <td style="padding:10px;"><img  class="resize" src="image/estrellas_demo.png"></td>
                  </tr>
                </table>
                <input class="btn-detalle" name="" type="button" value="ver detalle">
              </li>
              <li class="bg-col"> <img src="image/farmacia01.jpg" />
                <p class="flex-caption">
                
                <table width="100%" border="0" cellpadding="2" cellspacing="2">
                  <tr>
                    <td style="color:#395066; font-size:17px; padding:8px; font-weight: bold;">Nombre farmacia</td>
                  </tr>
                  <table width="20" border="0" cellpadding="20" cellspacing="20">
                    <tr>
                      <td  style="color:#395066; font-size:15px; padding:8px;">Categoría:</td>
                      <td style="font-style:italic;">Farmacias</td>
                    </tr>
                  </table>
                  <tr>
                    <td style="padding:10px;"><img  class="resize" src="image/estrellas_demo.png"></td>
                  </tr>
                </table>
                <input class="btn-detalle" name="" type="button" value="ver detalle">
              </li>
              <li class="bg-col"> <img src="image/farmacia01.jpg" />
                <p class="flex-caption">
                
                <table width="100%" border="0" cellpadding="2" cellspacing="2">
                  <tr>
                    <td style="color:#395066; font-size:17px; padding:8px; font-weight: bold;">Nombre farmacia</td>
                  </tr>
                  <table width="20" border="0" cellpadding="20" cellspacing="20">
                    <tr>
                      <td  style="color:#395066; font-size:15px; padding:8px;">Categoría:</td>
                      <td style="font-style:italic;">Farmacias</td>
                    </tr>
                  </table>
                  <tr>
                    <td style="padding:10px;"><img  class="resize" src="image/estrellas_demo.png"></td>
                  </tr>
                </table>
                <input class="btn-detalle" name="" type="button" value="ver detalle">
              </li>
              <li class="bg-col"> <img src="image/farmacia01.jpg" />
                <p class="flex-caption">
                
                <table width="100%" border="0" cellpadding="2" cellspacing="2">
                  <tr>
                    <td style="color:#395066; font-size:17px; padding:8px; font-weight: bold;">Nombre farmacia</td>
                  </tr>
                  <table width="20" border="0" cellpadding="20" cellspacing="20">
                    <tr>
                      <td  style="color:#395066; font-size:15px; padding:8px;">Categoría:</td>
                      <td style="font-style:italic;">Farmacias</td>
                    </tr>
                  </table>
                  <tr>
                    <td style="padding:10px;"><img  class="resize" src="image/estrellas_demo.png"></td>
                  </tr>
                </table>
                <input class="btn-detalle" name="" type="button" value="ver detalle">
              </li>
              <li class="bg-col"> <img src="image/farmacia01.jpg" />
                <p class="flex-caption">
                
                <table width="100%" border="0" cellpadding="2" cellspacing="2">
                  <tr>
                    <td style="color:#395066; font-size:17px; padding:8px; font-weight: bold;">Nombre farmacia</td>
                  </tr>
                  <table width="20" border="0" cellpadding="20" cellspacing="20">
                    <tr>
                      <td  style="color:#395066; font-size:15px; padding:8px;">Categoría:</td>
                      <td style="font-style:italic;">Farmacias</td>
                    </tr>
                  </table>
                  <tr>
                    <td style="padding:10px;"><img  class="resize" src="image/estrellas_demo.png"></td>
                  </tr>
                </table>
                <input class="btn-detalle" name="" type="button" value="ver detalle">
              </li>
              <li class="bg-col"> <img src="image/farmacia01.jpg" />
                <p class="flex-caption">
                
                <table width="100%" border="0" cellpadding="2" cellspacing="2">
                  <tr>
                    <td style="color:#395066; font-size:17px; padding:8px; font-weight: bold;">Nombre farmacia</td>
                  </tr>
                  <table width="20" border="0" cellpadding="20" cellspacing="20">
                    <tr>
                      <td  style="color:#395066; font-size:15px; padding:8px;">Categoría:</td>
                      <td style="font-style:italic;">Farmacias</td>
                    </tr>
                  </table>
                  <tr>
                    <td style="padding:10px;"><img  class="resize" src="image/estrellas_demo.png"></td>
                  </tr>
                </table>
                <input class="btn-detalle" name="" type="button" value="ver detalle">
              </li>
              <li class="bg-col"> <img src="image/farmacia01.jpg" />
                <p class="flex-caption">
                
                <table width="100%" border="0" cellpadding="2" cellspacing="2">
                  <tr>
                    <td style="color:#395066; font-size:17px; padding:8px; font-weight: bold;">Nombre farmacia</td>
                  </tr>
                  <table width="20" border="0" cellpadding="20" cellspacing="20">
                    <tr>
                      <td  style="color:#395066; font-size:15px; padding:8px;">Categoría:</td>
                      <td style="font-style:italic;">Farmacias</td>
                    </tr>
                  </table>
                  <tr>
                    <td style="padding:10px;"><img  class="resize" src="image/estrellas_demo.png"></td>
                  </tr>
                </table>
                <input class="btn-detalle" name="" type="button" value="ver detalle">
              </li>
              <li class="bg-col"> <img src="image/farmacia01.jpg" />
                <p class="flex-caption">
                
                <table width="100%" border="0" cellpadding="2" cellspacing="2">
                  <tr>
                    <td style="color:#395066; font-size:17px; padding:8px; font-weight: bold;">Nombre farmacia</td>
                  </tr>
                  <table width="20" border="0" cellpadding="20" cellspacing="20">
                    <tr>
                      <td  style="color:#395066; font-size:15px; padding:8px;">Categoría:</td>
                      <td style="font-style:italic;">Farmacias</td>
                    </tr>
                  </table>
                  <tr>
                    <td style="padding:10px;"><img  class="resize" src="image/estrellas_demo.png"></td>
                  </tr>
                </table>
                <input class="btn-detalle" name="" type="button" value="ver detalle">
              </li>
              <li class="bg-col"> <img src="image/farmacia01.jpg" />
                <p class="flex-caption">
                
                <table width="100%" border="0" cellpadding="2" cellspacing="2">
                  <tr>
                    <td style="color:#395066; font-size:17px; padding:8px; font-weight: bold;">Nombre farmacia</td>
                  </tr>
                  <table width="20" border="0" cellpadding="20" cellspacing="20">
                    <tr>
                      <td  style="color:#395066; font-size:15px; padding:8px;">Categoría:</td>
                      <td style="font-style:italic;">Farmacias</td>
                    </tr>
                  </table>
                  <tr>
                    <td style="padding:10px;"><img  class="resize" src="image/estrellas_demo.png"></td>
                  </tr>
                </table>
                <input class="btn-detalle" name="" type="button" value="ver detalle">
              </li>
              <li class="bg-col"> <img src="image/farmacia01.jpg" />
                <p class="flex-caption">
                
                <table width="100%" border="0" cellpadding="2" cellspacing="2">
                  <tr>
                    <td style="color:#395066; font-size:17px; padding:8px; font-weight: bold;">Nombre farmacia</td>
                  </tr>
                  <table width="20" border="0" cellpadding="20" cellspacing="20">
                    <tr>
                      <td  style="color:#395066; font-size:15px; padding:8px;">Categoría:</td>
                      <td style="font-style:italic;">Farmacias</td>
                    </tr>
                  </table>
                  <tr>
                    <td style="padding:10px;"><img  class="resize" src="image/estrellas_demo.png"></td>
                  </tr>
                </table>
                <input class="btn-detalle" name="" type="button" value="ver detalle">
              </li>
            </ul>
          </div>
        </section>
      </div>
      <!--Fin carrusel---> 
    </div>
  </div>
  <div id="footer"><span class="derechos"> © Copyright 2016. Go4it| Aviso Legal | Aviso de Privacidad</span></div>
</div>
</div>
</body>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="js/libs/jquery-1.7.min.js">\x3C/script>')</script>
<!-- FlexSlider -->
<script defer src="js/jquery.flexslider.js"></script>
<script type="text/javascript">
    $(function(){
      SyntaxHighlighter.all();
    });
    $(window).load(function(){
      $('.flexslider').flexslider({
        animation: "slide",
        animationLoop: false,
        itemWidth: 210,
        itemMargin: 5,
        minItems: 2,
        maxItems: 4,
        start: function(slider){
          $('body').removeClass('loading');
        }
      });
    });
  </script>
</html>
