<!DOCTYPE html>
<html>
<head>
<title>Rating</title>
<link href="/static/css/estilos_go.css" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="/static/css/demo.css" type="text/css" media="screen" />
<link rel="stylesheet" href="/static/css/flexslider.css" type="text/css" media="screen" />

    <meta content="charset=utf-8">
    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/star-rating.min.css" media="all" rel="stylesheet" type="text/css" />
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="/static/js/star-rating.min.js" type="text/javascript"></script>
    <!-- optionally if you need translation for your language then include locale file as mentioned below -->
    <script src="/static/js/star-rating_locale_es.js"></script>
</head>

<body>

<input type="hidden" id="calif" name="calif" value="0">
<div id="contenedor">
  <div id="wrapper">
    <div id="header"> <a href="#">LOGO</a>
      <form action="" method="get">
        <a href="{% url 'access:logout' %}">
        <input type="button" value="Cerrar Sesión" name="btn-logout" class="btn-sesion">
        </a>
        <div class="search">
          <input name="" type="text" value="¿Qué estás buscando?">
          <span> <img src="/static/image/icp_lupa.png"> </span></div>
      </form>
     
    </div>
    <div id="contenido">
      <div class="carrusel">
        <div class="col-detalle">
          <div class="col-izq">
            <h2 class="nombre-detalle">Nombre</h2>
            <div class="col-img"><img src="/static/image/img-detalle.gif"></div>
          </div>
          <div class="col-der">
            <table width="100%" border="0">
              <tr>
                <td width="23%" style="color:#395066; padding: 10px;">ID Producto:</td>
                <td  width="53%" style="color:#395066; padding: 10px; font-weight: bold;" >{{ Producto.id }}</td>
              </tr>
              <tr>
                <td style="color:#395066; padding: 10px;">Categoría:</td>
                <td style="color:#395066;padding: 10px; font-weight: bold;" >{{ Producto.Categoria }}</td>
              </tr>
              <tr>
                <td style="color:#395066; padding: 10px;">Alias:</td>
                <td style="color:#395066;padding: 10px; font-style:italic;" >{{ Producto.Alias }}</td>
              </tr>
              <table width="100%" cellpadding="5" cellspacing="5">
                <tr>
                  <td style="color:#395066;padding: 10px; font-weight: bold;">Características:</td>
                </tr>
                <tr>
                  <td style="padding:10px; line-height:19px;">{{ Producto.Descripcion }}</td>
                </tr>
                <form id="califForm" name="califForm" action="{% url 'detail' Producto.id %}" method="post">
                <input type="hidden" name="calificacion" id="calificacion" value={{ valorCalificacion }}>
                {% csrf_token %}
                <tr>
                  {% if Producto.Calificable == 1 %}
                  <td style="color:#395066;padding-top: 28px; padding-bottom: 21px; padding-left: 10px; padding-right:5px;   font-weight: bold;">Formulario de Calificación</td></tr><tr>
                  <td style="padding-bottom:34px; padding-left: 10px">
                  <input id="Calificacion-id" name="Calificacion-id" class="rating" width="98" height="18" type="number" data-show-caption="false" min=0 max=5 step=1 data-size="sm" >
                  </td>
                  {% else %}
                  <td>
                  <div class="clear"></div>
                  </td>
                  {% endif %}
                </tr>
              </table>
              <table width="100%" border="0">
                <tr>
                  <td><label style="color:#395066; padding: 10px; font-weight:bold;">Comentarios</label></td>
                </tr>
                <tr>
                  <td><textarea name="comentario" cols="20" rows="10">{{ calificacionExistente.comentario }}</textarea></td>
                </tr>
                <tr>
                  <td><input class="btn-guardar" name="btn-guardar" type="Submit" value="Guardar comentario"></td>
                </tr>
              </table>
              </form>
            </table>
          </div>
          <div class="clear"></div>
        </div>
      </div>

      <!--Inicio carrusel PRODUCTOS RELACIONADOS-->
      <div class="carrusel">
        <section class="slider">
          <div class="ico-productos">
            <h2>Productos relacionados</h2>
          </div>
          <div class="flexslider carousel">
            <ul class="slides">
{% for Product in latest_productos_list %}
            <li class="bg-col"> 
            <img src="/static/image/farmacia01.jpg" />
            <div class="datos">
                  <div class="nombre">{{ Product.Nombre }}</div>
                  <div class="categoria">Categoria: </br><span class="detalle-categ">{{ Product.Categoria }}</span></div> 
                  {% if Producto.Calificable == 1 %}                 
                  <div class="estrellas">

                 <input id="input-id{{ Product.id }}" type="number" class="rating" min=0 max=5 step=1 data-size="xs" readonly="true" data-show-caption="false" data-show-clear="false">
                  <script type="text/javascript">
                      $('#input-id{{ Product.id }}').rating('update', 2);
                  </script>
                  </div>
                  {% else %}
                  <td>
                  <div class="clear"></div>
                  </td>
                  {% endif %}
                  <div class="boton">
                    <a href="{% url 'detail' Product.id %}">
                    <input class="btn-detalle" name="" type="button" value="ver detalle">
                    </a>
                  </div>
            </div>
            </li>
{% endfor %}
            </ul>
          </div>
        </section>
      </div>
      <!--Fin carrusel--> 
    </div>
  </div>
  <div id="footer">
  <span class="derechos"> © Copyright 2016. Go4it| Aviso Legal | Aviso de Privacidad</span>
  </div>
</div>
</div>
</body>
<script type="text/javascript">

    $('#Calificacion-id').val($('#calificacion').val());
    $('#Calificacion-id').on('rating.change', function(event, value, caption) {
        //console.log(value);
        //console.log(caption);
        $('#calificacion').val(value);
        //alert($('#calificacion').val());
    });
</script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="/static/js/jquery-1.9.1.min.js">\x3C/script>')</script>
<!-- FlexSlider -->
<script defer src="/static/js/jquery.flexslider.js"></script>
<script type="text/javascript">
    $(window).load(function(){
      $('.flexslider').flexslider({
        animation: "slide",
        animationLoop: false,
        itemWidth: 210,
        itemMargin: 5,
        minItems: 2,
        maxItems: 4,
        start: function(slider){
          $('body').removeClass('loading');
        }
      });
    });
  </script>
</html>