


{% if product_list and metadatos_usuario %}

<h1>Listado de productos para {{ metadatos_usuario }}</h1>

	<table style="width:60%">
		<tr>
			<td><strong> Nombre </strong></td>
			<td><strong> Categoria </strong></td>
			<td><strong> Descripción </strong></td>
			<td><strong> Dirección </strong></td>
		</tr>

	    
	    {% for product in product_list %}
	    <tr>
	    	<td>{{ product.Nombre }}</td>
	    	<td>{{ product.Categoria }}</td>
	    	<td>{{ product.Descripcion }}</td>
	    	<td>{{ product.Direccion }}</td>
	    </tr>
	    {% endfor %}
	    
	</table>
{% else %}
    <p>No products are available.</p>
{% endif %}
