
<h1>Listado de productos para Pepe</h1>

{% if product_list %}
	<table>
		<tr>
			<td><strong> Nombre </strong></td>
			<td><strong> Categoria </strong></td>
			<td><strong> Descripción </strong></td>
			<td><strong> Dirección </strong></td>
		</tr>

	    
	    {% for product in product_list %}
	    <tr>
	    	<td>{{ product.Nombre }}</td>
	    	<td>{{ product.Categoria }}</td>
	    	<td>{{ product.Descripcion }}</td>
	    	<td>{{ product.Direccion }}</td>
	    </tr>
	    {% endfor %}
	    
	</table>
{% else %}
    <p>No products are available.</p>
{% endif %}
